{% load static %}

<!doctype html>
<html lang="es">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Mi Sitio{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
{% block extra_head %}{% endblock %}

<body>
  {% include 'includes/header.html' %}
  <main class="main">
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>
